<ul>
                    <li class="drop-down"><a href="">Products</a>
                        <ul>
                            <li><a href="#">Dispatcher</a></li>
                            <li><a href="#">MotionTrack</a></li>
                            <li><a href="#">IntelliSort</a></li>
                            <li><a href="#">FieldPro</a></li>
                        </ul>
                    </li>
                    <li class="drop-down"><a href="">Business Sectors</a>
                        <ul>
                            <li><a href="#">E-Commerce</a></li>
                            <li><a href="#">3PL</a></li>
                            <li><a href="#">Home Services</a></li>
                            <li><a href="#">Retail</a></li>
                            <li><a href="#">CPG & FMCG</a></li>
                        </ul>
                    </li>
                    <li><a href="#">API</a></li>
                    <li><a href="#">Features</a></li>
                    <li class="drop-down"><a href="">Resources</a>
                        <ul>
                            <li><a href="#">Infographics</a></li>
                            <li><a href="#">Case Studies</a></li>
                            <li><a href="#">Whitepaper</a></li>
                            <li><a href="#">Blogs</a></li>
                        </ul>
                    </li>
                    <li class="drop-down"><a href="">Company</a>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </li>
                    <li class="header-cta"><a href="#">SCHEDULE A DEMO</a></li>
                </ul>